<div class="footer text-center" th:fragment="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 logo">Dentista <i class="bi bi-emoji-heart-eyes"></i></h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Have a Questions<i class="bi bi-patch-question"></i></h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><i class="bi bi-bookmark-star-fill"></i></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                            </li>
                            <li><i class="bi bi-telephone-fill"></i><span
                                    class="text">+2 392 3929 210</span></a></li>
                            <li><i class="bi bi-mailbox2"></i><span class="text">info@clinic-service.com</span></a>
                            </li>
                        </ul>
                    </div>

                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-arrow-right-circle"></i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                        <li><i class="bi bi-arrow-right-circle"></i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Visit</a></li>
                        <li><i class="bi bi-arrow-right-circle"></i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                        <li><i class="bi bi-arrow-right-circle"></i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Register</a></li>
                        <li><i class="bi bi-arrow-right-circle"></i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Login</a></li>
                        <li><i class="bi bi-arrow-right-circle"></i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                    </ul>
                </div>
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Dental Exams & X-rays</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Root Canals</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Cavity Fillings</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Crown Treatment</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Bridge Treatment</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Tooth Extractions</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Wisdom Tooth Extractions</a></li>
                        <li><i class="bi bi-arrow-bar-right"></i><span class="ion-ios-arrow-round-forward mr-2"></span>Broken Teeth</a></li>
                        <li><i class="bi bi-bag-check"></i> Check it out</i><i class="bi bi-arrow-right"> </i><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span> Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Opening Hours</h2>
                    <h3 class="open-hours pl-4"></span>We are open 24/7<i class="bi bi-hourglass-split"></i></h3>
                </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved <i class="icon-heart" aria-hidden="true"></i>
        </div>
    </div>
</div>
</div>
</div>