<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<p>Lista wizyt</p>
</head>
<body>
    <tr th:if="${visit.getPatient() == null}" th:each="visit: ${visits}" th:object="${visit}">
        <td th:text="${visit.getDoctor()}"/><br>
        <td th:text="${visit.getDate()}"/><br>
        <td><a th:href="@{/register/visit/{id}(id=${visit.getId()})}">Rejestruj</a></td>
        <p>---------</p>
    </tr>

</body>
</html>
